@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* fonts: "roboto" */

body {
    font-family: "roboto";
    font-size: 16px;
}

/**** CONTAINER ****/
@media only screen and (min-width: 0px) {
    .container {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr;

        height: 100vh;
    }
}

/*** SIDEBAR ***/
@media only screen and (min-width: 0px) {
    .sidebar {
        background-color: white;
    }
    
    .sidebar-title {
        font-size: 4em;
        font-weight: 200;
        text-align: center;
        margin-top: 20px;
    }

    .sidebar-description {
        position: relative;
        right: 10px;
        text-align: center;
        margin-top: -20px;
    }

    .add-task {
        background-color: hsl(5, 69%, 55%);
        color: white;
        font-weight: 500;
        
        width: fit-content;
        margin: 30px auto 40px;
        padding: 5px 15px;
        
        border-radius: 20px;
    }

    .add-task:hover {
        cursor: pointer;
        background-color: hsl(5, 69%, 45%);
    }

    .project {
        text-align: center;
        padding: 20px;
        border: 1px solid rgb(206, 206, 206);
    }

    .project:hover {
        cursor: pointer;
        background-color: rgb(228, 228, 228);
    }
}

/*** MAIN ***/
@media only screen and (min-width: 0px) {
    .main {
        background-color: rgb(150, 148, 161);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 25px;
    }
    
    .category-title {
        color: white;
        font-size: 4em;
        font-weight: 100;
        text-align: center;
    }

    .task-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 30px;
    }

    .task {
        background-color: rgb(46, 43, 54);
        width: clamp(400px, 40vw, 800px);
        border-radius: 20px;
        box-shadow: 2px 2px 5px black;
    }

    .task-header {
        background-color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px 15px;
        border-radius: 20px;
    }
    
    .task-title {
        overflow: hidden;
    }

    .task-due-date {
        font-size: 0.75em;
        margin-left: auto;
        opacity: 50%;
    }

    #check:hover, .task-header:hover {
        cursor: pointer;
    }

    #check, #priority, #edit, #delete {
        width: 30px;
    }

    .task-body {
        background-color: rgb(46, 43, 54);
        display: none;
        flex-direction: column;
        gap: 20px;
        padding: 15px 15px 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .task-description {
        overflow: hidden;
        color: white;
    }

    .task-modify {
        display: flex;
    }

    #delete {
        margin-left: auto;
    }

    #delete:hover, #edit:hover {
        cursor: pointer;
        filter: brightness(80%);
    }
}

/**** FORM WINDOW ****/
@media only screen and (min-width: 0px) {
    .task-window {
        display: none;
        position: fixed;
        top: 390px;
        left: 560px;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 500px;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgb(88, 88, 88);
    }
    
    .close-window {
        height: 0px;
    }

    #close-window-image {
        position: relative;
        left: 450px;
        height: 30px;
    }

    #close-window-image:hover {
        cursor: pointer;
        opacity: 50%;
    }

    form {
        padding: 20px;
    }

    form > div {
        display: flex;
        flex-direction: column;
    }

    input, select, #form-description {
        padding: 10px;
        margin-bottom: 12px;
        border-radius: 10px;
    }

    #form-description {
        resize: none;
        height: 200px;
        margin-bottom: 30px;
    }

    #form-add, #form-edit {
        font-size: 1.5em;
        font-weight: 200;
        padding: 20px;
        border-radius: 10px;
    }

    #form-add:hover, #form-edit:hover {
        cursor: pointer;
        filter: brightness(90%);
    }

    label {
        font-size: 1.25em;
        font-weight: 200;
        margin-bottom: 2px;
    }
}