@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* fonts: "roboto" */

body {
    font-family: "roboto";
    font-size: 16px;
}

/**** CONTAINER ****/
@media only screen and (min-width: 0px) {
    .container {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 100vh;
    }
}

/*** SIDEBAR ***/
@media only screen and (min-width: 0px) {
    .sidebar {
        background-color: white;
    }
    
    .add-task, .add-project {
        background-color: hsl(5, 69%, 55%);
        color: white;
        font-weight: 500;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 20px;
    }

    .add-task:hover, .add-project:hover {
        cursor: pointer;
        background-color: hsl(5, 69%, 45%);
    }

    .project {
        padding: 10px;
        border: 1px solid grey;
    }

    .project:hover {
        cursor: pointer;
        background-color: rgb(228, 228, 228);
    }
}

/*** MAIN ***/
@media only screen and (min-width: 0px) {
    .main {
        background-color: grey;
        padding: 25px;
    }
    
    .task-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .task {
        background-color: rgb(228, 228, 228);
        width: clamp(400px, 40vw, 800px);
        border-radius: 20px;
        box-shadow: 2px 2px 5px black;
    }

    .task-header {
        background-color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px 15px;
        border-radius: 20px;
    }
    
    .task-title {
        overflow: hidden;
    }

    .task-due-date {
        margin-left: auto;
    }

    #check:hover, .task-header:hover {
        cursor: pointer;
    }

    #check, #priority, #edit, #delete {
        width: 30px;
    }

    .task-body {
        background-color: rgb(228, 228, 228);
        display: none;
        flex-direction: column;
        padding: 10px 15px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .task-description {
        overflow: hidden;
    }

    .task-modify {
        display: flex;
    }

    #delete {
        margin-left: auto;
    }

    #delete:hover, #edit:hover {
        cursor: pointer;
        filter: brightness(80%);
    }
}

/**** FORM WINDOW ****/
@media only screen and (min-width: 0px) {
    .task-window {
        display: none;
        background-color: white;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgb(88, 88, 88);
    }
    
    form {
        padding: 20px;
    }

    form > div {
        display: flex;
        flex-direction: column;
    }

    input, select, #form-description {
        padding: 10px;
        margin-bottom: 10px;
    }

    #form-description {
        resize: none;
        height: 200px;
        margin-bottom: 30px;
    }

    #form-add, #form-edit {
        font-size: 1.5em;
        font-weight: 500;
        padding: 20px;
    }

    #form-add:hover, #form-edit:hover {
        cursor: pointer;
        filter: brightness(90%);
    }

    label {
        font-size: 1.25em;
        font-weight: 500;
    }
}